In [1]:
!rm hawaii.sqlite

In [2]:
#import dependencies
import pandas as pd
import csv
import os
import datetime

# Import SQL Alchemy
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Text

In [3]:
# read the cleaned csv files using pandas
file_path1 = os.path.join("clean_hawaii_measurements.csv")
measurements_data = pd.read_csv(file_path1)

In [4]:
# read the cleaned csv files using pandas
file_path2 = os.path.join("Resources","hawaii_stations.csv")
stations_data = pd.read_csv(file_path2)
stations_data.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [5]:
# Create Database Connection
engine = create_engine('sqlite:///hawaii.sqlite')

In [6]:
#create connection to the engine called'conn'
conn = engine.connect()

In [7]:
# Create Measurement and Stations classes
Base = declarative_base()

class Measurements(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)

class station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [8]:
#USe create_all to create all the tables in the database
Base.metadata.create_all(engine)

In [9]:
#Create a list of data to write to the database
data_measurements = measurements_data.to_dict(orient = "records")
data_stations = stations_data.to_dict(orient = 'records')

In [10]:
#Reflect tables into sqlalchemy
metadata = MetaData(bind=engine)
metadata.reflect()

In [11]:
#saving the table in a reference table
table_measurements = sqlalchemy.Table('measurements',metadata, autoload = True)

In [12]:
conn.execute(table_measurements.delete())

In [13]:
conn.execute(table_measurements.insert(),data_measurements)

In [14]:
#insert the data into the table
table_station = sqlalchemy.Table('station', metadata, autoload = True)

In [15]:
conn.execute(table_station.delete())

In [16]:
conn.execute(table_station.insert(),data_stations)